{% extends 'base.html.twig' %}

{% block body %}
    <h1>Twojastaras list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for twojaStara in twojaStaras %}
            <tr>
                <td><a href="{{ path('catalog_twojastara_show', { 'id': twojaStara.id }) }}">{{ twojaStara.id }}</a></td>
                <td>{{ twojaStara.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('catalog_twojastara_show', { 'id': twojaStara.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
